*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 255, 255));
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    position: absolute;
    display: flex;
 align-items: end;
    justify-content: end;
    flex-direction: column;
}

.container img{
width: 600px;    
}
.card h1{

 
    font-size: 70px;
    color: rgb(0, 0, 0);
    margin-left: 250px;
    
}
.icon{
    display: flex;
}

.icon img{
    width: 50px;
    
    display: flex;
    flex-direction: row;
   margin: 20px;
}

/* .icon img:nth-child(2){
    width: 40px;
} */

